/* 初始化 */
body,
div,
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
input,
textarea,
select,
p,
dl,
dt,
dd,
a,
img,
button,
form,
table,
th,
tr,
td,
tbody,
pre,
code,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

button {
  display: block;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}

dl,
dt,
dd,
em,
a,
b,
u,
i,
q,
s {
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}

a,
a:hover {
  text-decoration: none;
  color: #333;
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

hr {
  border-bottom-color: #D8D8D8;
}

img {
  border: none;
}

input {
  background: transparent;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "PingFangSC-Regular", "PingFangSC-Medium", "Microsoft YaHei", "Microsoft JhengHei";
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  outline: none;
  text-decoration: none;
}

div:focus {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

:focus {
  outline: none;
}

.clearfix:after {
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  perspective: 1200px;
}
